.u-text-1{
    padding-top: 20px;
    margin-top: 20px;
    text-align: center;
    color:red;
}

tt{
    color: black;
    font-style: italic;
    font-weight: bold;
}

.u-text-default{
    color:white;
}


.item1 {
  position:absolute;
}
.item2 {
  position:absolute;
  padding-left: 400px;
}
.item3 {
  position:absolute;
  padding-top: 200px;

}
.item4 {
  position:absolute;
  padding-left: 400px;
  padding-top: 200px;
}

.clear{
    content: " ";
    display: table;
    clear:both;
}

.rasporka{
    height: 5px;
}

.footer{
    position:relative;
    bottom:0px;
    margin-top:-89px;
    min-width:950px;
    height:89px;
}

.info{
    font-weight: 500;
    font-size: 50px;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 60px;
    padding-bottom: 20px;
}

.form-error ul {
    list-style: none;
    padding: 0;
    color: #CC0000;
}

.form-label {
    display: inline-block;
    min-width: 150px;
    vertical-align: top;
    margin-top: 10px;
    color: green;
}

.form-input {
    width: 300px;
    font-size: 16px;
    margin-top: 10px;
}

#id_password {
    margin-top: 10px;
}

.knopka{
    margin-top: 10px;
    color: blue;
    font-weight: 700;
}

.e404{
    color:lime;
    text-weight: 700;
    transition: opacity .6s;
}

.e404:hover{
    opacity: 0.5
}

a{
    text-decoration:none;
}

.error_message{
    color:red;
    text-weight: 700;
    margin-top:20px;
}

.g-recaptcha{
    margin-top: 20px;
}

.otziv{
  font-size: 80px;
  background: linear-gradient(135deg, #000000 20%, #0ec4fa 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  border: 3px solid transparent;
  border-image: linear-gradient(135deg, #000000 20%, #0ec4fa 70%);
  border-image-slice: 1;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  margin-left: 350px;
  margin-right: 50px;
  opacity: 0.7;
  transition: opacity .1s;
}

.otziv:hover{
    opacity: 1
}

.info2{
    padding-bottom: 40px;
    color: lime;
}

.mess{
    margin-top:20px;
    margin-bottom: 10px;
    color:lime;
}

.kredit_form{
    float: right;
    clear: left;
    margin-right: 50px;
    margin-bottom: 100px;
}

.knopka2{
    color:red;
    text-weight: 700;
    line-height: 1.5;
}


.form_loan{
    position: absolute;
}

.loan_footer{
    margin-top:100px;
}

.rectangle_money{
    width:700px;
    height:200px;
    background:rgba(46,47,48,.8);
    position: relative;
    margin-left: 400px;
    margin-bottom: 50px;
}

.knopka2 {
  min-width: 300px;
  min-height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4FD1C5;
background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: absolute;
  padding: 10px;
  margin-top: 55px;
  margin-left: 1120px;
  float: right;

  }

.knopka2::before {
content: '';
  border-radius: 1000px;
  min-width: calc(280px + 12px);
  min-height: calc(46px + 12px);
  border: 6px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.knopka2:hover, .knopka2:focus {
  color: #313133;
  transform: translateY(-6px);
}

.knopka2:hover::before, .knopka2:focus::before {
  opacity: 1;
}

.knopka2::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.knopka2:hover::after, .knopka2:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

.knopka_credit {
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  height: 50px;
  width: 200px;
  font-size: 20px;
  color: lime;
  cursor: pointer;
}

.knopka_credit:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}


.knopka_transfer {
  -webkit-transform: translate3D(0, 0, 0);
  -webkit-backface-visibility: hidden;
  color: #2d2d2d;
  padding: 14px 0px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  display: block;
  width: 210px;
  margin: 30px 0;
  text-align: center;
  background:#201f1f;
  color: blueviolet;
  cursor: pointer;

}
.knopka_transfer:after {
  padding: 0;
  border: 2px solid #201f1f;
  content: '';
  width: 95%;
  height: 46px;
  display: block;
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
}
.knopka_transfer:before {
  -webkit-transition: all 0s ease-in-out;
  -moz-transition: all 0s ease-in-out;
  -o-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
  content: '';
  width: 100%;
  height: 60px;
  display: block;
  position: absolute;
  z-index: -1;
  border-left: 15px solid blueviolet;
  box-shadow: -20px 30px 30px blueviolet;
  background: transparent;
  top: 0px;
  left: -15px;
  margin-left: -1px;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.knopka_transfer:hover:before, .knopka_transfer:active:before, .knopka_transfer:focus:before {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: translate(115%, 0);
  -moz-transform: translate(115%, 0);
  -ms-transform: translate(115%, 0);
  -o-transform: translate(115%, 0);
  transform: translate(115%, 0);
}

.img_money{
    position: absolute;
}

.p_money{
    color: white;
    margin-left: 360px;
    font-weight: 400;
    font-size: 20px;
    margin-top: 80px;
}

.big{
    font-weight: 700;
    margin-top: 0px;
}

.pribliz_summ{
    color:red;
    font-style: italic;
    font-weight: 700;
    font-size: 25px;
    margin-left: 360px;
    margin-top: 20px;
}

.p_width{
    max-width:600px;
}

.transfer_form{
    position: absolute;
}

.img_security{
    margin-left: 500px;
    float: left;
}

.p_security{
    color:red;
    float: right;
    text-align:center;
    font-weight: 700;
    font-size: 25px;
}

.main_pages {
	color: #00bfff; /* Цвет обычной ссылки */
    position: relative;
    cursor: pointer;
    text-decoration: none; /* Убираем подчеркивание */
}
.main_pages:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px; /* Высота линии */
    background-color: black; /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s; /* Время эффекта */
}

.main_pages:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px; /* Высота линии */
    background-color: red; /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s;  /* Время эффекта */
}

.form-control {
  margin-top:14px;
  width: 550px;
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #636861;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-control::-webkit-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::-moz-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control:disabled, .form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}

select.form-control:not([size]):not([multiple]) {
  height: calc(2.25rem + 2px);
}

select.form-control:focus::-ms-value {
  color: #495057;
  background-color: #fff;
}

.form-control-file,
.form-control-range {
  display: block;
  width: 100%;
}

.border {
   box-shadow: 0 14px 28px rgba(168,12,231,0.25), 0 10px 10px rgba(159,0,255,0.67);
   color: lime;
   font-weight: 400;
   font-family: Verdana;
   font-size: 210;
}

.border-top {
  border-top: 1px solid #dee2e6 !important;
}

.border-right {
  border-right: 1px solid #dee2e6 !important;
}

.border-bottom {
  border-bottom: 1px solid #dee2e6 !important;
}

.border-left {
  border-left: 1px solid #dee2e6 !important;
}

.border-0 {
  border: 0 !important;
}

.border-top-0 {
  border-top: 0 !important;
}

.border-right-0 {
  border-right: 0 !important;
}

.border-bottom-0 {
  border-bottom: 0 !important;
}

.border-left-0 {
  border-left: 0 !important;
}

.border-primary {
  border-color: #007bff !important;
}

.border-secondary {
  border-color: #6c757d !important;
}

.border-success {
  border-color: #28a745 !important;
}

.border-info {
  border-color: #17a2b8 !important;
}

.border-warning {
  border-color: #ffc107 !important;
}

.border-danger {
  border-color: #dc3545 !important;
}

.border-light {
  border-color: #f8f9fa !important;
}

.border-dark {
  border-color: #343a40 !important;
}

.border-white {
  border-color: #fff !important;
}


textarea {
    height: 200px; /* Высота поля в пикселах */
    resize: none; /* Запрещаем изменять размер */
    border: 1px solid #999;
}

.review{
    font-size: 15px;
    font-weight: 600;
}

.review_form{
    position: absolute;
}

.happy_client{
    margin-right: 300px;
    margin-top: 50px;
    margin-bottom: 70px;
    float: right;
}