.u-text-1{
    padding-top: 20px;
    margin-top: 20px;
    text-align: center;
    color:red;
}

tt{
    color: black;
    font-style: italic;
    font-weight: bold;
}

.u-text-default{
    color:white;
}


.item1 {
  position:absolute;
}
.item2 {
  position:absolute;
  padding-left: 400px;
}
.item3 {
  position:absolute;
  padding-top: 200px;

}
.item4 {
  position:absolute;
  padding-left: 400px;
  padding-top: 200px;
}

.clear{
    content: " ";
    display: table;
    clear:both;
}

.rasporka{
    height: 5px;
}

.footer{
    position:relative;
    bottom:0px;
    margin-top:-89px;
    min-width:950px;
    height:89px;
}

.info{
    color:#a9a9a9;
    font-weight: 500;
    font-size: 50px;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 60px;
    padding-bottom: 20px;
}

.form-error ul {
    list-style: none;
    padding: 0;
    color: #CC0000;
}

.form-label {
    display: inline-block;
    min-width: 150px;
    vertical-align: top;
    margin-top: 10px;
    color: green;
}

.form-input {
    width: 300px;
    font-size: 16px;
    margin-top: 10px;
}

#id_password {
    margin-top: 10px;
}

.knopka{
    margin-top: 10px;
    color: blue;
    font-weight: 700;
}

.e404{
    color:lime;
    text-weight: 700;
    transition: opacity .6s;
}

.e404:hover{
    opacity: 0.5
}

a{
    text-decoration:none;
}

.error_message{
    color:red;
    text-weight: 700;
}

.g-recaptcha{
    margin-top: 20px;
}

.otziv{
  font-size: 80px;
  background: linear-gradient(135deg, #000000 20%, #0ec4fa 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  border: 3px solid transparent;
  border-image: linear-gradient(135deg, #000000 20%, #0ec4fa 70%);
  border-image-slice: 1;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  margin-left: 350px;
  margin-right: 50px;
  opacity: 0.7;
  transition: opacity .1s;
}

.otziv:hover{
    opacity: 1
}

.info2{
    padding-bottom: 40px;
}