{% extends 'internet_banking/base.html' %}
{% load rest_framework %}

{% block bank %}
        <h1>Profile - {{ profiles.username }} </h1>

        <h1>Profiles</h1>

        <ul>
            {% for profile in profiles %}
            <li>{{ profile.username }}</li>
            <li>{{ profile.email }}</li>
            <li>{{ profile.date_joined }}</li>
            <li>{{ profile.is_support }}</li>
            <li>{{ profile.address }}</li>
            <p></p>
            {% endfor %}
        </ul>
{% endblock bank %}
