{% extends 'internet_banking/base.html' %}
{% block menu %}

{% endblock menu %}

{% block bank %}

<div class="info info2">
    <p>Транзакция успешно выполнена).</p>
    <p>Спасибо что выбрали Альфа-Банк.</p>
    <p>Если вам не трудно, оставьте отзыв о нашем банке: <a class="otziv" href="{% url 'add_review' %}">Оставить отзыв</a></p>
    <p>Возврат на <a class="main_pages" href="{% url 'home' %}">главную страницу</a></p>
</div>

{% endblock bank %}

{% block testimonials %}


{% endblock testimonials %}

